<div class="container">
  <div class="col-md-12 margin-top-5per article-block padding-top-15 margin-bottom-15">
    <h1 class="text-center">新規作成画面</h1>
    <div class="padding-bottom-15">
      <%= render"form", article:@article %>
    </div>
  </div>
</div>